<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">GİRİŞ YAP</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">ÜYE OL</label>
                    <div class="login-space">
                        <div class="login">
                            <div class="group"> <label for="user" class="label">Email Adresi</label> <input id="user3" type="email" class="input" placeholder="Email adresini giriniz"> </div>
                            <div class="group"> <label for="pass" class="label">Şifre</label> <input id="pass1" type="password" class="input" data-type="password" placeholder="Şifrenizi giriniz"> </div>
                            <div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Oturumumu açık tut</label> </div>
                            <div class="group"> <input type="submit" class="button" value="GİRİŞ YAP"> </div>
                            <div class="hr"></div>
                            <div class="foot"> <a href="#">Parolanızı mı unuttunuz?</a> </div>
                        </div>
                        <div class="sign-up-form">
                            <div class="group"> <label for="user" class="label">Adınız</label> <input id="user" type="text" class="input" placeholder="Adınızı giriniz"> </div>
                            <div class="group"> <label for="user" class="label">Soyadınız</label> <input id="user2" type="text" class="input" placeholder="Soyadınızı giriniz"> </div>
                            <div class="group"> <label for="pass" class="label">Email Adresi</label> <input id="pass2" type="email" class="input" placeholder="Email adresini giriniz"> </div>
                            <div class="group"> <label for="pass" class="label">Repeat Password</label> <input id="pass3" type="password" class="input" data-type="password" placeholder="Repeat your password"> </div>
                            <div class="group"> <label for="pass" class="label">Şifre</label> <input id="pass4" type="password" class="input" data-type="password" placeholder="Şifreni oluştur"> </div>
                            
                        
                            <div class="group"> <input type="submit" class="button" value="ÜYE OL"> </div>
                            
                            <div class="foot"> <label for="tab-1">Zaten Üye misiniz?</label> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card2">
        <div class="my-auto mx-md-5 px-md-5 right">
            <h3 class="text-white">Biz bir şirketten daha fazlasıyız</h3> <small class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</small>
        </div>
    </div>
</div>
