

<div class="row" >
  <div class="col-md-3">
  <app-brand></app-brand>
  </div>

  <div class="col-md-9">

<div class="container">
<div class="alert alert-secondary" role="alert">
  <h4>        Araba Bilgisi</h4>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  
  </div>
  <div class="carousel-inner">
    <div *ngFor="let carImage of carImages let i=index" [ngClass]="getSliderClassName(i)">
      <img style="  height: 400px;" src="{{imageBasePath}}/{{carImage.imagePath}}" class="d-block w-100" alt="...">
    </div>
      
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<br>


    <div class="row row-cols-2" *ngFor="let car of cars">
      <div class="col" class="p-3 mb-2 bg-secondary text-white"><h5>Araba Markası: {{car.carName}}</h5></div>
      <div class="col" class="p-3 mb-2 bg-secondary text-white"><h5>Arabanın Rengi: {{car.colorName}}</h5></div>
      <br> <br>
      <div class="col" class="p-3 mb-2 bg-secondary text-white"><h5>Arabanın Modeli: {{car.brandName}}</h5></div>
      <div class="col" class="p-3 mb-2 bg-secondary text-white"><h5>Arabanın Model Yılı: {{car.modelYear}}</h5></div>
      <br> <br>
      <div class="col" class="p-3 mb-2 bg-secondary text-white"><h5>Arabanın Günlük Fiyatı: {{car.dailyPrice | currency}} </h5></div>
      <div class="col" class="p-3 mb-2 bg-secondary text-white"></div>
      
    </div>
   
  </div>


<br>

  
  <div class="row">

    <div class="col-sm-8">
  <button
    type="button "
    style="background-color:rgb(89, 152, 26);"
    *ngFor="let car of cars"
  
    routerLink="/cars/payment/{{car.carId}}" 
    class="btn btn-primary btn-lg w-100" 
  >
    Kirala
  </button>
  </div>
  
  <div class="col-sm-4">
    <button
      type="button"
      style="background-color:rgb(164, 82, 37);"
      class="btn btn-primary btn-lg  w-100" 
      routerLink="/cars" 
      
    >
      İptal
    </button>
  
  </div>

  </div>

  <br>


  <div class="alert alert-success" *ngFor="let car of cars" role="alert">
    <h4 class="alert-heading">Araba Açıklaması  </h4>
    <p>{{car.description}}</p>
    <hr>
    <p class="mb-0">Bizim için tek önemli olan sizin can güvenliğinizdir. bu yüzden arablarımız her zaman en son teknolojilerle donatılıp sürekli bakımı yapılmaktadır.</p>
  </div>



  
  <br>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      AFG Araba Kiralama <cite title="Source Title"></cite>
    </figcaption>
  </figure>

  </div>