<div class="container-fluid mb-5">
  <div class="text-center mt-5">
      <h1>Yönetici Paneli</h1>
      <br> <br>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="box" >
              <div class="our-services settings"   routerLink="/caradd"  role="button" aria-controls="offcanvasExample" >
                  <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
                  <h4>İşlemler</h4>
                  <br>
                  <p>Ekleme, Güncelleme, Silme işlemleri yapılır.  </p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="box">
              <div class="our-services speedup" routerLink="/rentals">
                  <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
                  <h4>Kiralanan Araçlar</h4>
                  <br>
                  <p>Kiralanan araçları görebilirsiniz.</p>
              </div>
          </div>
      </div>


      <div class="col-md-4">
        <div class="box"  >
            <div class="our-services database" routerLink="/customers" >
                <div class="icon" > <img  src="https://i.imgur.com/VzjZw9M.png"> </div>
                <h4 >Müşteri Listesi</h4>
                <br>
                <p>Üyeleri görebilirsiniz</p>
            </div>
        </div>
    </div>
  </div>
  

 <!--  dqewd > <div class="row">
      <div class="col-md-4">
          <div class="box">
              <div class="our-services backups">
                  <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
                  <h4>Backups</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="box">
              <div class="our-services ssl">
                  <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
                  <h4>SSL secured</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="box">
            <div class="our-services privacy">
                <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
                <h4>Privacy</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            </div>
        </div>
    </div>
  </div>

  -->

</div>






