

<div class="row">
  <div class="col-md-4">
    <div *ngFor="let car of cars">
      <div
        class="card"
        style="width: 25.1rem; background-color: rgb(146, 197, 195)"
      >
        <img
        [src]='car.images.length!==0?imageBasePath+car.images[0]:imageBasePath+defaultImage'
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title" style="font-weight: 650; position:150 ">
            {{ car.carName }}
          </h5>
          <p class="card-text" style="font-weight: 700">
            {{ car.description }}
          </p>
          <a routerLink="/cars" class="btn btn-primary" style="background-color: rgb(135, 114, 62);" >Araba Listesi</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="col-md-8">
    <div class="row row-cols-7" *ngFor="let car of cars">
      <div
        class="col"
        class="p-3 mb-1 bg-secondary text-white"
        style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>Araba Markası: {{ car.carName }}</h5>
      </div>
      <div
        class="col"
        class="p-3 mb-1 bg-secondary text-white"
        style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>Arabanın Rengi: {{ car.colorName }}</h5>
      </div>
      <br />
      <br />
      <div
        class="col"
        class="p-3 mb-1 bg-secondary text-white"
        style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>Arabanın Modeli: {{ car.brandName }}</h5>
      </div>
      <div
        class="col"
        class="p-3 mb-1 bg-secondary text-white"
        style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>Arabanın Model Yılı: {{ car.modelYear }}</h5>
      </div>
      <br />
      <br />
      <div
        class="col"
        class="p-3 mb-1 bg-secondary text-white"
        style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>Arabanın Günlük Fiyatı: {{ car.dailyPrice | currency }}</h5>
      </div>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col-md-6">
    <label for="rentDate">Alış Tarihi:</label>
    <input
      type="datetime-local"
      class="form-control"
      id="rentDate"
      style="text-align: center; border: 5px solid rgb(146, 197, 195)"
      [(ngModel)]="rentDate"
    />
  </div>

  <div class="col-md-6">
    <label for="rentDate">Teslim Tarihi:</label>
    <input
      type="datetime-local"
      class="form-control"
      id="returnDate"
       style="text-align: center; border: 5px solid rgb(146, 197, 195)"
      [(ngModel)]="returnDate"
    />
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-6">
    <label for="customerSelect">Müşteriler:</label>
    <select
      [(ngModel)]="customerId"
      id="customerSelect"
      class="form-select"
      style="text-align: center; border: 5px solid rgb(146, 197, 195)"
      aria-label="Müşteriler"
    >
      <option *ngFor="let customer of customers" [value]="customer.customerId">
        {{ customer.firstName }} {{ customer.lastName }}--{{
          customer.companyName
        }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <div *ngFor="let car of cars">
      <h6 (click)="totalPrice(car)">
        Toplam tutarı öğrenmek için basınız
        <nav></nav>
      </h6>
      <div
        class="col"
        class="p-1 mb-1"    
       (click)="totalPrice(car)"
       style="text-align: center; border: 3px solid rgb(146, 197, 195)"
      >
        <h5>{{ amountPaye | currency }}</h5>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row">

  <div class="col-sm-8">
<button
  type="button "
  style="background-color:rgb(89, 152, 26);"
  *ngFor="let car of cars"

  (click)="check(car)"
  class="btn btn-primary btn-lg w-100" 
>
  Kirala
</button>
</div>

<div class="col-sm-4">
  <button
    type="button"
    style="background-color:rgb(164, 82, 37);"
    class="btn btn-primary btn-lg  w-100" 
    data-bs-toggle="modal" data-bs-target="#exampleModal"
  >
    İptal
  </button>

</div>

<br>

<br>  <br>
<div style="background-color: rgb(174, 218, 212);"  class="alert alert-success" *ngFor="let car of cars" role="alert">
  <h4 class="alert-heading">Bize Güvenebilirsiniz.</h4>
  <hr />
  <p class="mb-0">
    Bizim için tek önemli olan sizin can güvenliğinizdir. bu yüzden arablarımız
    her zaman en son teknolojilerle donatılıp sürekli bakımı yapılmaktadır.
  </p>
</div>

<br />
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Bizi tercih ettiğiniz için teşekkür ederiz.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    AFG Araba Kiralama <cite title="Source Title"></cite>
  </figcaption>
</figure>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Kiralama Ekranı</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           Kiralama ekranından çıkmak istiyor musunuz?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="/cars" >EVET</button>
            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal"  >İPTAL</button>
          </div>
        </div>
      </div>
    </div>
  





