 <div class="container p-2 my-2 bg-primary text-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><th>Rentals</th></a>
      </div>
    </nav>
  </div>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Car Name</th>
        <th scope="col">Name and Surname</th>
        <th scope="col">Company Name</th>
        <th scope="col">Rent Date</th>
        <th scope="col">Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th scope="row">{{rental.carId}}</th>
        <td>{{rental.carName}}</td>
        <td>{{rental.firstName}} {{rental.lastName}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>

 