
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  @import url('https://fonts.googleapis.com/css?family=Montserrat');
  

/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(12, 58, 53);
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 15px 8px 6px 25px;
    text-decoration: none;
    font-size: 20px;
    color: #babf91;
    display: block;
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f0f0f0;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  
  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }






body {
    font-family: 'Montserrat', sans-serif;

}

/* Category Ads */

#ads {
    margin: 30px 0 30px 0;
   
}

#ads .card-notify-badge {
        position: absolute;
        left: -10px;
        top: -20px;
        background: #8aceb1;
        text-align: center;
        border-radius: 30px 30px 30px 30px; 
        color: #000;
        padding: 5px 10px;
        font-size: 14px;

    }

#ads .card-notify-year {
        position: absolute;
        right: -10px;
        top: -20px;
        background: #e45c5c;
        border-radius: 50%;
        text-align: center;
        color: #fff;      
        font-size: 14px;      
        width: 60px;
        height: 60px;    
        padding: 8px 0 0 0;
}


#ads .card-detail-badge {      
        background: #d8ce6b;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        color: #000;
        padding: 5px 10px;
        font-size: 14px;        
    }

   

#ads .card:hover {
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }

#ads .card-image-overlay {
        font-size: 20px;
        
    }


#ads .card-image-overlay span {
            display: inline-block;              
        }


#ads .ad-btn {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 80px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        border: 3px solid #e6de08;
        display: block;
        text-decoration: none;
        margin: 20px auto 1px auto;
        color: #000;
        overflow: hidden;        
        position: relative;
        background-color: #e6de08;
    }

#ads .ad-btn:hover {
            background-color: #e6de08;
            color: #1e1717;
            border: 2px solid #e6de08;
            background: transparent;
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
        }

#ads .ad-title h5 {
        text-transform: uppercase;
        font-size: 18px;
    }


    



    body{
        margin-top: 100px !important;
    }
    .btn {
        background-color: #F48224;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        border-radius: 0 !important;
        border: none;
        transition:all 0.3s ease 0s;
    }
    .btn:hover,
    .btn.active:hover{
        color: #ffffff;
    }
    .btn:before{
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        background-color:#2e2900;
        width: 25%;
        height: 3px;
        transition:all 0.4s ease 0s;
    }
    .btn:after{
        content: "";
        position: absolute;
        bottom: -5px;
        right: 0;
        background-color:#2E0014;
        width: 25%;
        height: 3px;
        transition:all 0.4s ease 0s;
    }
    .btn:hover:before,
    .btn:hover:after,
    .btn.active:before,
    .btn.active:after{
        width: 100%;
    }

    @media screen and (max-width: 575px){
        .btn{
            margin-bottom: 50px !important;
        }
    }


    input[type=text] {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      
      /* When the input field gets focus, change its width to 100% */
      input[type=text]:focus {
        width: 100%;
      }

